<div id="calculation-{{ calculationNum  }}" class="calculationBlockWrapper">

    <a href="#" id="rule_{{ ruleNum }}_calculation_{{ calculationNum }}_remove" data-action="removeCalculation" class="btnRemove  btnRemove--calculation" >remove</a>

    <div class="ruleWrapperBlockCalculationBlock operation">

        <select name="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_calculationoperator" id="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_calculationoperator" data-calculation-control="calculationoperator" size="1">
            {{#each logicOperatorNormal}}
                <option value="{{id}}" data-symbol="{{data-symbol}}" data-type="{{data-type}}">{{label}}</option>
            {{/each}}
        </select>

    </div>

    <div class="ruleWrapperBlockCalculationBlock  operand">

        <div class="ruleWrapperBlockCalculationOperandBlock">

            <span class="ruleWrapperBlockLabel">Answer of question</span>

            <select name="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_questionoperand" id="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_questionoperand" size="8" data-calculation-control="questionoperand" multiple>
                <option value="">None</option>
                [[[questionValues]]]
            </select>

        </div>

        <div class="ruleWrapperBlockCalculationOperandBlock">

            <span class="ruleWrapperBlockLabel"><strong>OR</strong> Custom value type</span>

            <select name="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_operandcustomvaluetype" id="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_operandcustomvaluetype" data-calculation-control="operandcustomvaluetype"size="1">
                {{#each valueDataTypesDropdown}}
                    <option value="{{id}}">{{label}}</option>
                {{/each}}
            </select>

        </div>


        <div class="ruleWrapperBlockCalculationOperandBlock">

            <span class="ruleWrapperBlockLabel">Value</span>

            <input type="text" value="" name="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_operandcustomvalue" id="rule_{{ ruleNum }}_calculationblock_{{ calculationNum }}_operandcustomvalue" data-calculation-control="operandcustomvalue">

        </div>

    </div>

</div>