<div id="action-{{ actionNum }}" class="logic-action">

    <a href="#" id="rule_{{ ruleNum }}_action_{{ actionNum }}_remove" data-action="removeAction" class="btnRemove  btnRemove--rule" >remove</a>

    <div class="ruleWrapper">

        <span class="ruleWrapperBlockTitle  ruleWrapperBlockTitle--bottomMargin  sort">Sort</span>

        <label for="rule_{{ ruleNum }}_sortindex">
            <input type="number" value="{{ ruleSortIndex }}" class="short" name="rule_{{ ruleNum }}_sortindex" id="rule_{{ ruleNum }}_sortindex">
        </label>

    </div>

    <div class="actionWrapper  actionWrapper--block">

        <div class="actionWrapperBlock">
            <div class="logic-circle"></div><span>Logic {{ actionNum }} - {{ actionLabel }}</span>
        </div>

    </div>

</div>