<div id="rule-{{ ruleNum }}" class="logic-rule">

    <a href="#" id="rule_{{ ruleNum }}_remove" data-action="removeRule" class="btnRemove  btnRemove--rule" >remove</a>

    <div id="" class="ruleForm">

        <div class="ruleWrapper">

            <span class="ruleWrapperBlockTitle  ruleWrapperBlockTitle--bottomMargin  sort">Sort</span>

            <label for="rule_{{ ruleNum }}_sortindex">
                <input type="number" value="{{ ruleSortIndex }}" class="short" name="rule_{{ ruleNum }}_sortindex" id="rule_{{ ruleNum }}_sortindex" data-calculation-control="sortindex">
            </label>

        </div>

        <div class="ruleWrapper ruleWrapper--block">

            <div class="ruleWrapperBlock prefix">

                <span class="ruleWrapperBlockTitle  ruleWrapperBlockTitle--bottomMargin">Prefix</span>

                <select name="rule_{{ ruleNum }}_prefixoperator" id="rule_{{ ruleNum }}_prefixoperator" size="1" data-calculation-control="prefixoperator">
                    {{#each logicOperatorPrefix}}
                        <option value="{{id}}" data-symbol="{{data-symbol}}" data-type="{{data-type}}">{{label}}</option>
                    {{/each}}
                </select>

            </div>

            <div class="ruleWrapperBlock  calculations">

                <span class="ruleWrapperBlockTitle">Calculation Blocks</span>

                <div class="ruleWrapperBlockCalculationBlocks">

                    <div class="ruleWrapperBlockCalculationBlockWrapper">

                        <header>

                        <div class="ruleWrapperBlockCalculationBlock operation">

                            <span class="ruleWrapperCalculationBlockTitle">Operation</span>

                        </div>

                        <div class="ruleWrapperBlockCalculationBlock  operand">

                            <span class="ruleWrapperCalculationBlockTitle">Operands</span>

                        </div>

                        </header>

                        [[[calculationBlocks]]]

                    </div>

                    <button class="btnAddCalcBlock" data-action="calculationBlock" id="logic-header-button-add-calculation-block-rule-{{ ruleNum }}">Add calculation block</button>


                </div>


            </div>


            <div class="ruleWrapperBlock suffix">

                <span class="ruleWrapperBlockTitle  ruleWrapperBlockTitle--bottomMargin">Suffix</span>

                <div class="ruleWrapperBlockSuffixBlock condition">

                    <select name="rule_{{ ruleNum }}_suffixoperator" id="rule_{{ ruleNum }}_suffixoperator" size="1" data-calculation-control="suffixoperator">
                        {{#each logicOperatorNormal}}
                            <option value="{{id}}" data-symbol="{{data-symbol}}" data-type="{{data-type}}">{{label}}</option>
                        {{/each}}
                    </select>


                </div>

                <div class="ruleWrapperBlockSuffixBlock  topMargin  answer">

                    <span class="ruleWrapperBlockLabel">Select answer</span>

                    <select name="rule_{{ ruleNum }}_suffixansweroperands" id="rule_{{ ruleNum }}_suffixansweroperands" size="4" data-calculation-control="suffixansweroperands" multiple>
                        <option value="">None</option>
                        [[[answerValues]]]
                    </select>

                </div>

                <div class="ruleWrapperBlockSuffixBlock  topMargin  customvalueType">

                    <span class="ruleWrapperBlockLabel"><strong>OR</strong> Custom value type</span>

                    <select name="rule_{{ ruleNum }}_suffixcustomvaluetype" id="rule_{{ ruleNum }}_suffixcustomvaluetype" size="1" data-calculation-control="suffixcustomvaluetype">
                        {{#each valueDataTypesDropdown}}
                            <option value="{{id}}">{{label}}</option>
                        {{/each}}
                    </select>


                </div>

                <div class="ruleWrapperBlockSuffixBlock  topMargin  customvalue">

                    <span class="ruleWrapperBlockLabel">Value</span>

                    <input type="text" value="" name="rule_{{ ruleNum }}_suffixcustomvalue" id="rule_{{ ruleNum }}_suffixcustomvalue" data-calculation-control="suffixcustomvalue">

                </div>


            </div>

        </div>

    </div>

</div>